* {
    background-color: rgb(31, 35, 41);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 60%;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100rem;
    margin: 0 auto;
    padding: 3rem;
}
.direction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    font-size: 1rem;
    padding: 0.5rem;
    width: 6rem;
    text-align: center;
    margin-bottom: 0;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 1rem;
    border: thin;
}